{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="book-grid">
    {% for book in books %}
        <div class="book-card">
            <a class="book-card-link" href="{% url 'books:book_detail' book.id %}">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.title }} cover" width="120" />
                {% endif %}
                <div>
                    <strong>{{ book.title }}</strong><br>
                    <span>{{ book.author }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}